@media screen and (max-width: 1200px) {
    body{
        flex-direction: column;
        align-items: center;

    }
    html{
        font-size: 22%;
    }
    .theme-toggler span{
        display: inline-block;
    }
}